@using PetClinicWeb.System.Extensions


@{
    ViewBag.Title = this.LocalResources("Title");
}

<h1>@ViewBag.Title</h1>

<div id="patients-grid"></div>

<script>

    $(function () {

        jsGrid.locale("ru");

        $("#patients-grid").jsGrid({
            width: "100%",
            pageSize: 15,
            filtering: true,
            selecting: true,
            editing: true,
            inserting: true,
            sorting: true,
            paging: true,
            autoload: true,
            deleteConfirm: function(item) {
                return "@this.LocalResources("DialogDeleteConfirm") \"" + item.Name + "\"?";
            },
            controller: {
                loadData: function(filter) {
                    var d = $.Deferred();
                    $.post("/Patients/List", filter).done(function (response) {
                        d.resolve(response);
                    });

                    return d.promise();
                },
                insertItem: function (item) {
                    var d = $.Deferred();
                    var xhr$ = $.ajax({
                        type: "POST",
                        url: "/Patients/Save",
                        data: item
                    });
                    xhr$.success(function (response) {
                        if (response.success) {
                            d.resolve(item);
                        } else {
                            $.toaster({ priority: 'danger', title: '@this.LocalResources("Error")', message: response.message, timeout: 4000 });
                            d.reject();
                        }
                    });
                    xhr$.fail(function (error) {
                        $.toaster({ priority: 'danger', title: '@this.LocalResources("Error")', message: error.statusText, timeout: 4000 });
                        d.reject();
                    });
                    return d;
                },
                updateItem: function (item) {
                    var d = $.Deferred();
                    var xhr$ = $.ajax({
                        type: "POST",
                        url: "/Patients/Edit",
                        data: item
                    });
                    xhr$.success(function (response) {
                        if (response.success) {
                            d.resolve(item);
                        } else {
                            $.toaster({ priority: 'danger', title: '@this.LocalResources("Error")', message: response.message, timeout: 4000 });
                            d.reject();
                        }
                    });
                    xhr$.fail(function (error) {
                        $.toaster({ priority: 'danger', title: '@this.LocalResources("Error")', message: error.statusText, timeout: 4000 });
                        d.reject();
                    });
                    return d;
                },
                deleteItem: function (item) {
                    var d = $.Deferred();
                    var xhr$ = $.ajax({
                        type: "POST",
                        url: "/Patients/Delete",
                        data: item
                    });
                    xhr$.success(function () {
                        d.resolve(item);
                    });
                    xhr$.fail(function (error) {
                        $.toaster({ priority: 'danger', title: '@this.LocalResources("Error")', message: error.statusText, timeout: 4000 });
                        d.reject();
                    });
                    return d;
                }
            },
            fields: [
                {
                    align: "left",
                    name: "Name",
                    title: "@this.LocalResources("ColumnName")",
                    type: "text",
                    validate: "required"
                },
                {
                    align: "left",
                    name: "TypeOfPet",
                    title: "@this.LocalResources("ColumnTypeOfPet")",
                    type: "text",
                    validate: "required"
                },
                {
                    align: "left",
                    name: "Sex",
                    title: "@this.LocalResources("ColumnSex")",
                    type: "text"
                },
                {
                    align: "left",
                    name: "Owner",
                    title: "@this.LocalResources("ColumnOwner")",
                    type: "text",
                    validate: "required"
                },
                {
                    align: "left",
                    name: "TelephoneNumber",
                    title: "@this.LocalResources("ColumnTelephoneNumber")",
                    type: "text"
                },
                { type: "control" }
            ]
        });
    })

</script>

